<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PGT with CSS</title>
        <link rel="stylesheet" href="static/styles.css">
        <link rel="icon" href="static/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Courgette&display=swap"
              rel="stylesheet">
    </head>
    <body>
        <div class="top-container">
            <h1>Gokul Thilaak P</h1>
            <h2 class="PgtInfo">B.Tech Student, SWE at Google</h2>
        </div>
        <div class="middle-container">
            <div class="profile">
                <img class="ProfilePic"
                     src="https://pbs.twimg.com/profile_images/1311901617780793345/FH0GdHHK_200x200.jpg"
                     alt="profile pic">
                <h2>Hello.</h2>
                <p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor,
                    montes nulla distinctio.</p>
            </div><hr>
            <div class="skills">
                <h2>My Skills.</h2>
                <div class="skill-row first-skill">
                    <img class="GamingPic" src="static/gaming.png" alt="gaming icon">
                    <h3>PC Gaming</h3>
                    <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis.
                        Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam,
                        lectus ante, ut lorem eros.</p>
                </div>
                <div class="skill-row">
                    <img class="ProgrammingPic" src="static/programming.png" alt="programming icon">
                    <h3>Programming</h3>
                    <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu,
                        bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu,
                        rutrum nam.</p>
                </div>
            </div>
            <hr>
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>Lorem ipsum dolor sit amet, non elit.</h3>
                <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales,
                    tellus donec dui, ornare erat.</p>
                <a class="btn" href="mailto:gokulthilaakp@outlook.com">CONTACT ME</a>
            </div>
        </div>
        <div class="bottom-container">
            <a class="footer-link" href="https://in.linkedin.com/in/gokul-thilaak-p-15239b183">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/pgokulthilaak">Twitter</a>
            <a class="footer-link" href="#">Website</a>
            <p class="copyright">© 2021 Gokul Thilaak P.</p>
        </div>
    </body>
</html>
